@use 'colors.scss';

.card-form {
  border: 1px solid colors.$grey-400;
  border-radius: 5px;
  width: 25rem;

  // Layout
  &__header {
    background-color: colors.$grey-200;
    padding: 0 1rem;
    font-weight: bold;
    line-height: 1.8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__body {
    padding: 1rem 1rem 0;
  }

  &__footer {
    padding: 1rem 0 0;
    display: flex;
    justify-content: center;
  }

  // Elements
  &__title {
    padding: 0;
    margin: 0;
  }

  &__label {
    display: block;
    font-weight: bold;
    line-height: 1.8;
    margin-bottom: .3em;
  }

  &__select-wrapper {
    position: relative;
  }

  &__select {
    -webkit-appearance: none;
    appearance: none;
    padding: .3em 40px .3em 1em; // right side padding for background dropdown indicator
    background: url('../img/dropdownArrow.png') top 10px right 10px no-repeat;
    border: 1px solid colors.$grey-400;
    border-radius: 5px;
    width: 250px;
    display: block;

    &:hover, &:focus, &:active, &:focus-visible {
      border: 1px solid colors.$primary;
      box-shadow: inset 0 0 0 1px colors.$primary;
      outline: 0;
    }
  }

  // Buttons
  &__btn {
    min-width: 120px;
    text-transform: uppercase;
    padding: .6rem 1rem;
    border-radius: 5px;
    border: 0;
    margin: 0 .5rem 1rem;
    cursor: pointer;
    font-weight: bold;

    &:focus {
      outline: 1px solid colors.$grey-400;
      outline-offset: 2px;
    }

    &--primary {
      background-color: colors.$primary; 
      color: white;
    }

    &--secondary {
      background-color: transparent;
      color: colors.$primary;
      transition: background-color .3s;

      &:active, &:hover, &:focus {
        background-color: colors.$primary-light;
        transition: background-color .3s;
      }
    }
  }

  //Pseudo-select
  .pseudo-select {
    &__menu {
      display: none;
      list-style-type: none;
      border: 1px solid colors.$grey-400;
      border-radius: 5px;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: white;

      li {
        padding: .3em 1em;
        cursor: pointer;

        &:hover {
          background-color: colors.$primary-light;
        }
      }
    }

    &__control {
      &:checked + .pseudo-select__menu {
        display: block;
      }
    }
  }
}
 